# Data Importing 
## Objective
In this Jupyter Notebook I will be focusing on:
- Unzipping provided Data
- Exploring the provided Data
- Creating a Database to store data for further analysis
- Prepare Data for further analysis

## Import Libraries

In [1]:
# Import all the necessary libraries
import os #for interacting with path/directory

import numpy as np
import pandas as pd
import sqlite3

from glob import glob

### Load Data into Jupyter Notebook

In [2]:
# Import data into jupyter notebook using glob
csv_files = glob("zippedData/*.csv")

for file in csv_files:
    print(file)
    
tsv_files = glob("zippedData/*.tsv")

for file in tsv_files:
    print(file)

zippedData/tmdb.movies.csv
zippedData/tn.movie_budgets.csv
zippedData/imdb.name.basics.csv
zippedData/title.akas.csv
zippedData/bom.movie_gross.csv
zippedData/imdb.title.basics.csv
zippedData/title.ratings.csv
zippedData/rt.reviews.tsv
zippedData/rt.movie_info.tsv

### Create dictionary to store Data properly

In [3]:
# Create a dictionary with file names as the Key
# and their contents as the values
# Clean up file names by getting rid or .csv & .tsv and replacing all '.' with '_'
files_dict = {}
for filename in csv_files:
    filename_cleaned = os.path.basename(filename).replace('.csv', '').replace('.', '_')
    filename_df = pd.read_csv(filename, index_col = 0)
    files_dict[filename_cleaned] = filename_df
for filename in tsv_files:
    filename_cleaned = os.path.basename(filename).replace(".tsv", "").replace(".", "_") 
    filename_df = pd.read_csv(filename, index_col=0, delimiter='\t',encoding = 'unicode_escape')
    files_dict[filename_cleaned] = filename_df

In [4]:
# Check Keys to make sure data is stored correctly
for key in files_dict.keys():
    print(key)

tmdb_movies
tn_movie_budgets
imdb_name_basics
title_akas
bom_movie_gross
imdb_title_basics
title_ratings
rt_reviews
rt_movie_info

In [5]:
# Check Values to make sure data is stored correctly
for value in files_dict.values():
    print(value)

                 genre_ids      id original_language  \
0          [12, 14, 10751]   12444                en
1      [14, 12, 16, 10751]   10191                en
2            [12, 28, 878]   10138                en
3          [16, 35, 10751]     862                en
4            [28, 878, 12]   27205                en
...                    ...     ...               ...
26512             [27, 18]  488143                en
26513             [18, 53]  485975                en
26514         [14, 28, 12]  381231                en
26515      [10751, 12, 28]  366854                en
26516             [53, 27]  309885                en

                                     original_title  popularity release_date  \
0      Harry Potter and the Deathly Hallows: Part 1      33.533   2010-11-19
1                          How to Train Your Dragon      28.734   2010-03-26
2                                        Iron Man 2      28.515   2010-05-07
3                                         Toy Story      28.005   1995-11-22
4                                         Inception      27.920   2010-07-16
...                                             ...         ...          ...
26512                         Laboratory Conditions       0.600   2018-10-13
26513                               _EXHIBIT_84xxx_       0.600   2018-05-01
26514                                  The Last One       0.600   2018-10-01
26515                                  Trailer Made       0.600   2018-06-22
26516                                    The Church       0.600   2018-10-05

                                              title  vote_average  vote_count
0      Harry Potter and the Deathly Hallows: Part 1           7.7       10788
1                          How to Train Your Dragon           7.7        7610
2                                        Iron Man 2           6.8       12368
3                                         Toy Story           7.9       10174
4                                         Inception           8.3       22186
...                                             ...           ...         ...
26512                         Laboratory Conditions           0.0           1
26513                               _EXHIBIT_84xxx_           0.0           1
26514                                  The Last One           0.0           1
26515                                  Trailer Made           0.0           1
26516                                    The Church           0.0           1

[26517 rows x 9 columns]
    release_date                                        movie  \
id
1   Dec 18, 2009                                       Avatar
2   May 20, 2011  Pirates of the Caribbean: On Stranger Tides
3    Jun 7, 2019                                 Dark Phoenix
4    May 1, 2015                      Avengers: Age of Ultron
5   Dec 15, 2017            Star Wars Ep. VIII: The Last Jedi
..           ...                                          ...
78  Dec 31, 2018                                       Red 11
79   Apr 2, 1999                                    Following
80  Jul 13, 2005                Return to the Land of Wonders
81  Sep 29, 2015                         A Plague So Pleasant
82   Aug 5, 2005                            My Date With Drew

   production_budget domestic_gross worldwide_gross
id
1       $425,000,000   $760,507,625  $2,776,345,279
2       $410,600,000   $241,063,875  $1,045,663,875
3       $350,000,000    $42,762,350    $149,762,350
4       $330,600,000   $459,005,868  $1,403,013,963
5       $317,000,000   $620,181,382  $1,316,721,747
..               ...            ...             ...
78            $7,000             $0              $0
79            $6,000        $48,482        $240,495
80            $5,000         $1,338          $1,338
81            $1,400             $0              $0
82            $1,100       $181,041        $181,041

[5782 rows x 5 columns]
                  primary_name  birth_year  death_year  \
nconst
nm0061671    Mary Ellen Bauder         NaN         NaN
nm0061865         Joseph Bauer         NaN         NaN
nm0062070           Bruce Baum         NaN         NaN
nm0062195         Axel Baumann         NaN         NaN
nm0062798          Pete Baxter         NaN         NaN
...                        ...         ...         ...
nm9990381         Susan Grobes         NaN         NaN
nm9990690          Joo Yeon So         NaN         NaN
nm9991320       Madeline Smith         NaN         NaN
nm9991786  Michelle Modigliani         NaN         NaN
nm9993380       Pegasus Envoyé         NaN         NaN

                                         primary_profession  \
nconst
nm0061671         miscellaneous,production_manager,producer
nm0061865        composer,music_department,sound_department
nm0062070                        miscellaneous,actor,writer
nm0062195  camera_department,cinematographer,art_department
nm0062798  production_designer,art_department,set_decorator
...                                                     ...
nm9990381                                           actress
nm9990690                                           actress
nm9991320                                           actress
nm9991786                                          producer
nm9993380                             director,actor,writer

                                  known_for_titles
nconst
nm0061671  tt0837562,tt2398241,tt0844471,tt0118553
nm0061865  tt0896534,tt6791238,tt0287072,tt1682940
nm0062070  tt1470654,tt0363631,tt0104030,tt0102898
nm0062195  tt0114371,tt2004304,tt1618448,tt1224387
nm0062798  tt0452644,tt0452692,tt3458030,tt2178256
...                                            ...
nm9990381                                      NaN
nm9990690                      tt9090932,tt8737130
nm9991320                      tt8734436,tt9615610
nm9991786                                      NaN
nm9993380                                tt8743182

[606648 rows x 5 columns]
           ordering                                    title region language  \
title_id
tt0369610        10                            Джурасик свят     BG       bg
tt0369610        11                        Jurashikku warudo     JP      NaN
tt0369610        12  Jurassic World: O Mundo dos Dinossauros     BR      NaN
tt0369610        13                  O Mundo dos Dinossauros     BR      NaN
tt0369610        14                           Jurassic World     FR      NaN
...             ...                                      ...    ...      ...
tt9827784         2                       Sayonara kuchibiru    NaN      NaN
tt9827784         3                            Farewell Song    XWW       en
tt9880178         1                              La atención    NaN      NaN
tt9880178         2                              La atención     ES      NaN
tt9880178         3                            The Attention    XWW       en

                 types   attributes  is_original_title
title_id
tt0369610          NaN          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610  imdbDisplay          NaN                0.0
tt0369610          NaN  short title                0.0
tt0369610  imdbDisplay          NaN                0.0
...                ...          ...                ...
tt9827784     original          NaN                1.0
tt9827784  imdbDisplay          NaN                0.0
tt9880178     original          NaN                1.0
tt9880178          NaN          NaN                0.0
tt9880178  imdbDisplay          NaN                0.0

[331703 rows x 7 columns]
                                                 studio  domestic_gross  \
title
Toy Story 3                                          BV     415000000.0
Alice in Wonderland (2010)                           BV     334200000.0
Harry Potter and the Deathly Hallows Part 1          WB     296000000.0
Inception                                            WB     292600000.0
Shrek Forever After                                P/DW     238700000.0
...                                                 ...             ...
The Quake                                         Magn.          6200.0
Edward II (2018 re-release)                          FM          4800.0
El Pacto                                           Sony          2500.0
The Swan                                     Synergetic          2400.0
An Actor Prepares                                 Grav.          1700.0

                                            foreign_gross  year
title
Toy Story 3                                     652000000  2010
Alice in Wonderland (2010)                      691300000  2010
Harry Potter and the Deathly Hallows Part 1     664300000  2010
Inception                                       535700000  2010
Shrek Forever After                             513900000  2010
...                                                   ...   ...
The Quake                                             NaN  2018
Edward II (2018 re-release)                           NaN  2018
El Pacto                                              NaN  2018
The Swan                                              NaN  2018
An Actor Prepares                                     NaN  2018

[3387 rows x 4 columns]
                                         primary_title  \
tconst
tt0063540                                    Sunghursh
tt0066787              One Day Before the Rainy Season
tt0069049                   The Other Side of the Wind
tt0069204                              Sabse Bada Sukh
tt0100275                     The Wandering Soap Opera
...                                                ...
tt9916538                          Kuambil Lagi Hatiku
tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro
tt9916706                              Dankyavar Danka
tt9916730                                       6 Gunn
tt9916754               Chico Albuquerque - Revelações

                                        original_title  start_year  \
tconst
tt0063540                                    Sunghursh        2013
tt0066787                              Ashad Ka Ek Din        2019
tt0069049                   The Other Side of the Wind        2018
tt0069204                              Sabse Bada Sukh        2018
tt0100275                        La Telenovela Errante        2017
...                                                ...         ...
tt9916538                          Kuambil Lagi Hatiku        2019
tt9916622  Rodolpho Teóphilo - O Legado de um Pioneiro        2015
tt9916706                              Dankyavar Danka        2013
tt9916730                                       6 Gunn        2017
tt9916754               Chico Albuquerque - Revelações        2013

           runtime_minutes                genres
tconst
tt0063540            175.0    Action,Crime,Drama
tt0066787            114.0       Biography,Drama
tt0069049            122.0                 Drama
tt0069204              NaN          Comedy,Drama
tt0100275             80.0  Comedy,Drama,Fantasy
...                    ...                   ...
tt9916538            123.0                 Drama
tt9916622              NaN           Documentary
tt9916706              NaN                Comedy
tt9916730            116.0                   NaN
tt9916754              NaN           Documentary

[146144 rows x 5 columns]
            averagerating  numvotes
tconst
tt10356526            8.3        31
tt10384606            8.9       559
tt1042974             6.4        20
tt1043726             4.2     50352
tt1060240             6.5        21
...                   ...       ...
tt9805820             8.1        25
tt9844256             7.5        24
tt9851050             4.7        14
tt9886934             7.0         5
tt9894098             6.3       128

[73856 rows x 2 columns]
                                                 review rating   fresh  \
id
3     A distinctly gallows take on contemporary fina...    3/5   fresh
3     It's an allegory in search of a meaning that n...    NaN  rotten
3     ... life lived in a bubble in financial dealin...    NaN   fresh
3     Continuing along a line introduced in last yea...    NaN   fresh
3                ... a perverse twist on neorealism...     NaN   fresh
...                                                 ...    ...     ...
2000  The real charm of this trifle is the deadpan c...    NaN   fresh
2000                                                NaN    1/5  rotten
2000                                                NaN    2/5  rotten
2000                                                NaN  2.5/5  rotten
2000                                                NaN    3/5   fresh

                 critic  top_critic         publisher                date
id
3            PJ Nabarro           0   Patrick Nabarro   November 10, 2018
3        Annalee Newitz           0           io9.com        May 23, 2018
3          Sean Axmaker           0  Stream on Demand     January 4, 2018
3         Daniel Kasman           0              MUBI   November 16, 2017
3                   NaN           0      Cinema Scope    October 12, 2017
...                 ...         ...               ...                 ...
2000      Laura Sinagra           1     Village Voice  September 24, 2002
2000  Michael Szymanski           0        Zap2it.com  September 21, 2005
2000       Emanuel Levy           0   EmanuelLevy.Com       July 17, 2005
2000   Christopher Null           0    Filmcritic.com   September 7, 2003
2000    Nicolas Lacroix           0      Showbizz.net   November 12, 2002

[54432 rows x 7 columns]
                                               synopsis rating  \
id
1     This gritty, fast-paced, and innovative police...      R
3     New York City, not-too-distant-future: Eric Pa...      R
5     Illeana Douglas delivers a superb performance ...      R
6     Michael Douglas runs afoul of a treacherous su...      R
7                                                   NaN     NR
...                                                 ...    ...
1996  Forget terrorists or hijackers -- there's a ha...      R
1997  The popular Saturday Night Live sketch was exp...     PG
1998  Based on a novel by Richard Powell, when the l...      G
1999  The Sandlot is a coming-of-age story about a g...     PG
2000  Suspended from the force, Paris cop Hubert is ...      R

                                                  genre            director  \
id
1                   Action and Adventure|Classics|Drama    William Friedkin
3                     Drama|Science Fiction and Fantasy    David Cronenberg
5                     Drama|Musical and Performing Arts      Allison Anders
6                            Drama|Mystery and Suspense      Barry Levinson
7                                         Drama|Romance      Rodney Bennett
...                                                 ...                 ...
1996   Action and Adventure|Horror|Mystery and Suspense                 NaN
1997                 Comedy|Science Fiction and Fantasy        Steve Barron
1998  Classics|Comedy|Drama|Musical and Performing Arts      Gordon Douglas
1999    Comedy|Drama|Kids and Family|Sports and Fitness  David Mickey Evans
2000  Action and Adventure|Art House and Internation...                 NaN

                                                writer  theater_date  \
id
1                                       Ernest Tidyman   Oct 9, 1971
3                         David Cronenberg|Don DeLillo  Aug 17, 2012
5                                       Allison Anders  Sep 13, 1996
6                      Paul Attanasio|Michael Crichton   Dec 9, 1994
7                                         Giles Cooper           NaN
...                                                ...           ...
1996                                               NaN  Aug 18, 2006
1997  Terry Turner|Tom Davis|Dan Aykroyd|Bonnie Turner  Jul 23, 1993
1998                                               NaN   Jan 1, 1962
1999                  David Mickey Evans|Robert Gunter   Apr 1, 1993
2000                                        Luc Besson  Sep 27, 2001

          dvd_date currency  box_office      runtime             studio
id
1     Sep 25, 2001      NaN         NaN  104 minutes                NaN
3      Jan 1, 2013        $     600,000  108 minutes  Entertainment One
5     Apr 18, 2000      NaN         NaN  116 minutes                NaN
6     Aug 27, 1997      NaN         NaN  128 minutes                NaN
7              NaN      NaN         NaN  200 minutes                NaN
...            ...      ...         ...          ...                ...
1996   Jan 2, 2007        $  33,886,034  106 minutes    New Line Cinema
1997  Apr 17, 2001      NaN         NaN   88 minutes  Paramount Vantage
1998  May 11, 2004      NaN         NaN  111 minutes                NaN
1999  Jan 29, 2002      NaN         NaN  101 minutes                NaN
2000  Feb 11, 2003      NaN         NaN   94 minutes  Columbia Pictures

[1560 rows x 11 columns]

## Create SQL Database for Data

In [6]:
# this will create a sqlite file in your directory
# add name for sqlite file
db = 'movies_db.sqlite'
# check what we have
if os.path.isfile(db):
    os.remove(db)
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    print("We removed old database with name "+str(db)+" and create new one with the same name")
else: 
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    print("We create a new database "+str(db))

We removed old database with name movies_db.sqlite and create new one with the same name

In [7]:
def create_sql_table_from_df(df, name, conn):
    # Use try except
    # it will try to make a table
    # if a table exists the except part of the code will stop the program from making duplicates
    try:
        df.to_sql(name, conn)
        print(f"Created table {name}")
    
    # if the table exists t will tell you, and won't cause an error
    except Exception as e:
        print(f"could not make table {name}")
        print(e)

In [8]:
for name, table in files_dict.items():
    create_sql_table_from_df(table, name, conn)

Created table tmdb_movies
Created table tn_movie_budgets
Created table imdb_name_basics
Created table title_akas
Created table bom_movie_gross
Created table imdb_title_basics
Created table title_ratings
Created table rt_reviews
Created table rt_movie_info

In [9]:
# Check tables for accuracy
conn.execute('''SELECT name
                FROM sqlite_master 
                WHERE type='table';
                ''').fetchall()

[('tmdb_movies',),
 ('tn_movie_budgets',),
 ('imdb_name_basics',),
 ('title_akas',),
 ('bom_movie_gross',),
 ('imdb_title_basics',),
 ('title_ratings',),
 ('rt_reviews',),
 ('rt_movie_info',)]