# Data Cleaning and EDA
## Objectives
In this Jupyter Notebook we will be focusing on:
- Taking a look at each table
- Dealing with Null values and missing data
- EDA to get more insight on the data

## Import Libraries

In [1]:
# Import all necessary libraries
import sqlite3

import pandas as pd
import numpy as np

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

### Connect to Database

In [2]:
# Connect to database and create cursor
conn = sqlite3.connect('movies_db.sqlite')
cur = conn.cursor()

In [3]:
# Print out table names
cur.execute('''SELECT name
               FROM sqlite_master
               WHERE type='table';
               ''').fetchall()

[('tmdb_movies',),
 ('tn_movie_budgets',),
 ('imdb_name_basics',),
 ('title_akas',),
 ('bom_movie_gross',),
 ('imdb_title_basics',),
 ('title_ratings',),
 ('rt_reviews',),
 ('rt_movie_info',)]

In [4]:
# One off example to ensure the data loads correctly
conn.execute('''SELECT *
                FROM title_akas''').fetchall()

[('tt0369610', 10, 'Джурасик свят', 'BG', 'bg', None, None, 0.0),
 ('tt0369610', 11, 'Jurashikku warudo', 'JP', None, 'imdbDisplay', None, 0.0),
 ('tt0369610',
  12,
  'Jurassic World: O Mundo dos Dinossauros',
  'BR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610',
  13,
  'O Mundo dos Dinossauros',
  'BR',
  None,
  None,
  'short title',
  0.0),
 ('tt0369610', 14, 'Jurassic World', 'FR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 15, 'Jurassic World', 'GR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 16, 'Jurassic World', 'IT', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 17, 'Jurski svijet', 'HR', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 18, "Olam ha'Yura", 'IL', 'he', 'imdbDisplay', None, 0.0),
 ('tt0369610',
  19,
  'Jurassic World: Mundo Jurásico',
  'MX',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610',
  1,
  'Jurassic World: Sauruste maailm',
  'EE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610', 20, 'Jurassic World', 'SE', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 21, 'Jurassic World 3D', 'US', None, None, '3-D version', 0.0),
 ('tt0369610', 22, 'Jurassic World 3D', 'DE', None, None, '3-D version', 0.0),
 ('tt0369610', 23, 'Jurassic World 3D', 'XWW', None, None, '3-D version', 0.0),
 ('tt0369610',
  24,
  'Juras laikmeta pasaule',
  'LV',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610', 25, 'Mundo Jurássico', 'PT', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 26, 'Мир Юрского периода', 'RU', None, None, None, 0.0),
 ('tt0369610', 27, 'Jurský svět', 'CZ', None, None, None, 0.0),
 ('tt0369610', 28, 'Monde jurassique', 'CA', 'fr', 'imdbDisplay', None, 0.0),
 ('tt0369610', 29, 'Jurassic World', 'US', None, None, None, 0.0),
 ('tt0369610', 2, 'Ebb Tide', 'US', None, None, 'fake working title', 0.0),
 ('tt0369610',
  30,
  'Jurassic World: Mundo Jurásico',
  'CL',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610', 31, 'Jurassic World', 'RO', None, 'imdbDisplay', None, 0.0),
 ('tt0369610',
  32,
  'Juros periodo pasaulis',
  'LT',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610', 33, 'Jurassic World', 'FI', None, 'imdbDisplay', None, 0.0),
 ('tt0369610',
  34,
  'Jurassic World: Mundo jurásico',
  'PE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610',
  35,
  'Jurassic Park 4',
  'TR',
  'tr',
  None,
  'informal alternative title',
  0.0),
 ('tt0369610', 36, 'Jurassic Park IV', 'US', None, 'working', None, 0.0),
 ('tt0369610', 37, 'Jurassic World', 'NO', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 38, 'Jurski svet', 'SI', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 39, 'Свiт Юрського перiоду', 'UA', None, None, None, 0.0),
 ('tt0369610', 3, 'The Gioi Khung Long', 'VN', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 40, 'Jurassic World', 'DK', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 41, 'Svet iz doba jure', 'RS', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 42, 'Jurský svet', 'SK', None, None, None, 0.0),
 ('tt0369610', 43, 'Jurassic World', 'TR', 'tr', 'imdbDisplay', None, 0.0),
 ('tt0369610',
  44,
  'Jurassic Park 4',
  'US',
  None,
  None,
  'informal alternative title',
  0.0),
 ('tt0369610', 45, 'Jurassic World', None, None, 'original', None, 1.0),
 ('tt0369610', 46, 'Jurassic World', 'ES', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 47, 'Jurassic World', 'HU', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 48, 'Park jurajski 4', 'PL', None, 'alternative', None, 0.0),
 ('tt0369610', 4, 'Yur dövrü Dünyasi', 'AZ', None, 'imdbDisplay', None, 0.0),
 ('tt0369610',
  5,
  'Iuruli periodis samyaro',
  'GE',
  'ka',
  'imdbDisplay',
  None,
  0.0),
 ('tt0369610', 6, 'Jurassic World', 'PL', None, 'imdbDisplay', None, 0.0),
 ('tt0369610', 7, 'Mundo Jurásico', 'UY', None, None, '3-D version', 0.0),
 ('tt0369610', 8, 'Jurassic World 3D', 'PL', None, None, '3-D version', 0.0),
 ('tt0369610',
  9,
  'Jurassic World - Mundo Jurásico',
  'AR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0381957', 1, 'Cloud Cuckoo Land', 'GB', None, None, None, 0.0),
 ('tt0401729',
  10,
  'Джон Картер: Мiж двох свiтiв',
  'UA',
  None,
  None,
  None,
  0.0),
 ('tt0401729', 11, 'John Carter of Mars', 'US', None, 'working', None, 0.0),
 ('tt0401729', 12, 'A Princess of Mars', 'US', None, 'working', None, 0.0),
 ('tt0401729',
  13,
  'John Carter - Entre dos mundos',
  'AR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0401729',
  14,
  'John Carter Maaveeran',
  'IN',
  'ta',
  None,
  'dubbed version',
  0.0),
 ('tt0401729', 15, 'Džonas Karteris', 'LT', None, None, None, 0.0),
 ('tt0401729', 16, 'John Carter', 'PT', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  17,
  'John Carter: Mezi dvěma světy',
  'CZ',
  None,
  None,
  None,
  0.0),
 ('tt0401729',
  18,
  'John Carter: Ανάμεσα σε δύο κόσμους',
  'GR',
  None,
  None,
  None,
  0.0),
 ('tt0401729',
  19,
  'John Carter: Medzi dvoma svetmi',
  'SK',
  None,
  None,
  None,
  0.0),
 ('tt0401729',
  1,
  'John Carter: Zwischen zwei Welten',
  'DE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0401729', 20, 'Джон Картер', 'RU', None, None, None, 0.0),
 ('tt0401729', 21, 'John Carter', 'FR', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  22,
  'John Carter - Anamesa se dyo kosmous',
  'GR',
  None,
  None,
  'transliterated ISO-LATIN-1 title',
  0.0),
 ('tt0401729',
  23,
  'Джон Картър: Между два свята',
  'BG',
  'bg',
  None,
  None,
  0.0),
 ('tt0401729',
  24,
  'John Carter Mahaveerudu',
  'IN',
  'te',
  None,
  'dubbed version',
  0.0),
 ('tt0401729',
  25,
  'John Carter: Entre dos mundos',
  'PE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0401729', 26, 'John Carter', 'HR', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  27,
  'John Carter: Entre Dois Mundos',
  'BR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt0401729', 28, 'John Carter', 'CL', None, 'imdbDisplay', None, 0.0),
 ('tt0401729', 29, 'John Carter', 'ES', None, 'imdbDisplay', None, 0.0),
 ('tt0401729', 2, 'John Carter', 'US', None, None, None, 0.0),
 ('tt0401729', 30, 'John Carter', 'HU', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  31,
  'John Carter: Iki Dünya Arasinda',
  'TR',
  'tr',
  'imdbDisplay',
  None,
  0.0),
 ('tt0401729', 32, 'John Carter', 'IL', 'he', 'imdbDisplay', None, 0.0),
 ('tt0401729', 33, 'John Carter', 'PL', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  34,
  'John Carter: Entre dos mundos',
  'UY',
  None,
  None,
  '3-D version',
  0.0),
 ('tt0401729', 3, 'John Carter', 'RO', None, 'imdbDisplay', None, 0.0),
 ('tt0401729', 4, 'John Carter', 'CA', 'fr', 'imdbDisplay', None, 0.0),
 ('tt0401729', 5, 'Barsoom', 'US', None, None, 'fake working title', 0.0),
 ('tt0401729',
  6,
  'Džon Karter - Između dva sveta',
  'RS',
  None,
  None,
  None,
  0.0),
 ('tt0401729', 7, 'John Carter', None, None, 'original', None, 1.0),
 ('tt0401729', 8, 'John Carter', 'CO', None, 'imdbDisplay', None, 0.0),
 ('tt0401729',
  9,
  'John Carter: Entre dos mundos',
  'MX',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt10010134',
  1,
  "Versailles Rediscovered - The Sun King's Vanished Palace",
  None,
  None,
  'original',
  None,
  1.0),
 ('tt10010134',
  2,
  'Versailles: Le Palais retrouvé du Roi Soleil',
  'FR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt10010134',
  3,
  'Versailles: Palast des Sonnenkönigs',
  'DE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt10027708',
  1,
  'Miguelito - Canto a Borinquen',
  None,
  None,
  'original',
  None,
  1.0),
 ('tt10027708', 2, 'Miguelito', 'XWW', 'en', 'imdbDisplay', None, 0.0),
 ('tt10027708',
  3,
  'Miguelito - Canto a Borinquen',
  'AU',
  None,
  None,
  None,
  0.0),
 ('tt10027708', 4, 'Miguelito', 'AU', 'en', None, None, 0.0),
 ('tt10050722', 1, "Thing I Don't Get", None, None, 'original', None, 1.0),
 ('tt10050722',
  2,
  'Fünf Dinge, die ich nicht verstehe',
  'DE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt10084780', 1, 'Vinara sodara veera kumara', 'IN', None, None, None, 0.0),
 ('tt10121294',
  1,
  'This Jelly Doughnut Feeling',
  None,
  None,
  'original',
  None,
  1.0),
 ('tt10121294',
  2,
  'This Jelly Doughnut Feeling Ich fühl mich Berliner',
  'DE',
  None,
  None,
  'original script title',
  0.0),
 ('tt1014759',
  10,
  'Alice Dar Sarzamin E Ajayeb',
  'IE',
  'en',
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  11,
  'Η Αλίκη στη χώρα των θαυμάτων',
  'GR',
  None,
  None,
  None,
  0.0),
 ('tt1014759',
  12,
  'Alicia en el país de las maravillas',
  'UY',
  None,
  None,
  None,
  0.0),
 ('tt1014759',
  13,
  'Alice în Tara Minunilor',
  'RO',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  14,
  'Alice no País das Maravilhas',
  'PT',
  None,
  None,
  None,
  0.0),
 ('tt1014759', 15, 'Алиса в Стране чудес', 'RU', None, None, None, 0.0),
 ('tt1014759', 16, "Aliza Be Eretz Ha Pla'ot", 'IL', 'he', None, None, 0.0),
 ('tt1014759', 17, 'Alis harikalar diyarinda', 'TR', 'tr', None, None, 0.0),
 ('tt1014759',
  18,
  'Alice Csodaországban',
  'HU',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 19, 'Alisa stebuklu salyje', 'LT', None, None, None, 0.0),
 ('tt1014759', 1, 'Alice i Underlandet', 'FI', 'sv', 'imdbDisplay', None, 0.0),
 ('tt1014759', 20, 'Alice im Wunderland', 'DE', None, None, None, 0.0),
 ('tt1014759',
  21,
  'Alisa saotsrebata kvekanashi',
  'GE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  22,
  'Alice i Eventyrland',
  'NO',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  23,
  'Alice in Wonderland: An IMAX 3D Experience',
  'US',
  None,
  None,
  'IMAX version',
  0.0),
 ('tt1014759', 24, 'Alice im Wunderland', 'AT', None, None, None, 0.0),
 ('tt1014759',
  25,
  'Alicia en el país de las maravillas',
  'AR',
  None,
  None,
  None,
  0.0),
 ('tt1014759',
  26,
  'Алиса в страната на чудесата',
  'BG',
  'bg',
  None,
  None,
  0.0),
 ('tt1014759',
  27,
  'Alicia en el país de las maravillas',
  'PE',
  None,
  None,
  None,
  0.0),
 ('tt1014759',
  28,
  'Alice i Underlandet',
  'SE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  29,
  'Alicia en el País de las Maravillas',
  'ES',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759',
  2,
  'Alice Csodaországban IMAX 3D',
  'HU',
  None,
  None,
  'IMAX version',
  0.0),
 ('tt1014759',
  30,
  'Alicia en el país de las maravillas',
  'MX',
  None,
  None,
  None,
  0.0),
 ('tt1014759',
  31,
  'I Aliki sti hora ton thavmaton',
  'GR',
  None,
  None,
  'transliterated ISO-LATIN-1 title',
  0.0),
 ('tt1014759',
  32,
  'Alica v cudezni dezeli',
  'SI',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 33, 'Alisa u zemlji čudesa', 'HR', None, None, None, 0.0),
 ('tt1014759', 34, 'Alisa u zemlji čuda', 'RS', None, None, None, 0.0),
 ('tt1014759',
  35,
  'Alice i eventyrland',
  'NO',
  None,
  None,
  'dubbed version',
  0.0),
 ('tt1014759',
  36,
  'Alice au pays des merveilles',
  'CA',
  'fr',
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 37, 'Alice in Wonderland', 'US', None, None, None, 0.0),
 ('tt1014759', 38, 'Liisa Ihmemaassa', 'FI', None, 'imdbDisplay', None, 0.0),
 ('tt1014759',
  39,
  'Alica v krajine zázrakov',
  'SK',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 3, 'Alice in Wonderland', 'JP', 'en', None, None, 0.0),
 ('tt1014759', 40, 'Alice in Wonderland', None, None, 'original', None, 1.0),
 ('tt1014759', 41, 'Alice imedemaal', 'EE', None, None, None, 0.0),
 ('tt1014759',
  42,
  'Alice au pays des merveilles',
  'FR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 4, 'Alice no País das Maravilhas', 'BR', None, None, None, 0.0),
 ('tt1014759', 5, 'Alenka v říši divů', 'CZ', None, None, None, 0.0),
 ('tt1014759', 6, 'Alice', 'US', None, None, 'original script title', 0.0),
 ('tt1014759',
  7,
  'Alicja w Krainie Czarów',
  'PL',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1014759', 8, 'Алiса в краiiнi чудес', 'UA', None, None, None, 0.0),
 ('tt1014759', 9, 'Alice i Eventyrland', 'DK', None, 'imdbDisplay', None, 0.0),
 ('tt10214198', 1, 'Gou yan kan ren xin', None, None, 'original', None, 1.0),
 ('tt10214198', 2, 'Push and Shove', None, None, None, None, 0.0),
 ('tt10214198', 3, 'Gou yan kan ren xin', 'CN', None, None, None, 0.0),
 ('tt10225354', 1, 'Volviendo a Casa', 'AR', None, None, None, 0.0),
 ('tt10225354', 2, 'Volviendo a Casa', None, None, 'original', None, 1.0),
 ('tt10225354', 3, 'Returning Home', 'XWW', 'en', 'alternative', None, 0.0),
 ('tt10225420', 1, 'El Universo En Que Te Amé', 'AR', None, None, None, 0.0),
 ('tt10225420',
  2,
  'The Universe in Which I Loved You',
  'XWW',
  'en',
  'imdbDisplay',
  None,
  0.0),
 ('tt10225420',
  3,
  'El Universo En Que Te Amé',
  None,
  None,
  'original',
  None,
  1.0),
 ('tt10308634', 1, 'My First Client', None, None, 'original', None, 1.0),
 ('tt10308634', 2, 'My First Client', 'KR', None, None, None, 0.0),
 ('tt10308634', 3, 'Young Clients', 'XWW', 'en', 'alternative', None, 0.0),
 ('tt10351180', 1, 'BadBoy', None, None, 'original', None, 1.0),
 ('tt10351180', 2, 'BadBoy', 'IN', None, None, None, 0.0),
 ('tt10351180', 3, 'Bad Boy', 'XWW', None, None, 'alternative spelling', 0.0),
 ('tt10379338', 1, 'Guys Night Out', 'US', None, 'imdbDisplay', None, 0.0),
 ('tt10379338', 2, 'Guys Night Out', None, None, 'original', None, 1.0),
 ('tt10379338', 3, 'Random Night Out', 'US', None, None, None, 0.0),
 ('tt10446418', 1, 'Icon', 'RS', None, None, None, 0.0),
 ('tt10446418', 2, 'Icon', None, None, 'original', None, 1.0),
 ('tt10446418', 3, 'The Icon', 'US', None, 'alternative', None, 0.0),
 ('tt1179034', 10, 'Armastusega Pariisist', 'EE', None, None, None, 0.0),
 ('tt1179034', 11, 'Dupla Implacável', 'BR', None, None, None, 0.0),
 ('tt1179034', 12, 'París en la Mira', 'MX', None, None, None, 0.0),
 ('tt1179034', 13, 'Sangre y amor en París', 'AR', None, None, None, 0.0),
 ('tt1179034', 14, 'From Paris with Love', 'FR', None, None, None, 0.0),
 ('tt1179034',
  15,
  'Desde París con amor',
  'ES',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 16, 'Из Парижа с любовью', 'RU', None, None, None, 0.0),
 ('tt1179034', 17, "MiParis be'ahava", 'IL', 'he', None, None, 0.0),
 ('tt1179034',
  18,
  'Linkejimai is Paryziaus',
  'LT',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 19, 'Bez soucitu', 'CZ', None, 'imdbDisplay', None, 0.0),
 ('tt1179034', 1, 'От Париж с любов', 'BG', 'bg', None, None, 0.0),
 ('tt1179034', 20, 'De Paris com Amor', 'PT', None, None, None, 0.0),
 ('tt1179034', 21, 'Από το Παρίσι με αγάπη', 'GR', None, None, None, 0.0),
 ('tt1179034',
  22,
  'From Paris with Love',
  'IT',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034',
  23,
  'Din Paris, cu dragoste',
  'RO',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 24, "Paris'ten sevgilerle", 'TR', 'tr', None, None, 0.0),
 ('tt1179034',
  25,
  'Iz Pariza s ljubavlju',
  'RS',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 26, 'Pozdrowienia z Paryza', 'PL', None, None, None, 0.0),
 ('tt1179034',
  27,
  'Bons baisers de Paris',
  'CA',
  'fr',
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 28, 'París en la mira', 'PE', None, None, None, 0.0),
 ('tt1179034',
  2,
  'Apo to Parisi me agapi',
  'GR',
  None,
  None,
  'transliterated ISO-LATIN-1 title',
  0.0),
 ('tt1179034',
  3,
  'Iz Pariza z ljubeznijo',
  'SI',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034', 4, "З Парижу з любов'ю", 'UA', None, None, None, 0.0),
 ('tt1179034', 5, 'From Paris with Love', None, None, 'original', None, 1.0),
 ('tt1179034',
  6,
  'Párizsból szeretettel',
  'HU',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034',
  7,
  'Sangre y amor en París',
  'CL',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034',
  8,
  'From Paris with Love',
  'DK',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1179034',
  9,
  'Iz Pariza s ljubavlju',
  'HR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1180174', 1, 'Liberty', 'US', None, None, None, 0.0),
 ('tt1182315', 1, 'Negro Buenos Aires', None, None, 'original', None, 1.0),
 ('tt1182315', 2, 'Black Buenos Aires', 'XWW', 'en', 'imdbDisplay', None, 0.0),
 ('tt1182315', 3, 'Negro Buenos Aires', 'ES', None, None, None, 0.0),
 ('tt1182315', 4, 'Dark Buenos Aires', 'US', None, 'imdbDisplay', None, 0.0),
 ('tt1189904', 1, 'Small Town Hero', 'US', None, None, None, 0.0),
 ('tt1194173', 10, 'Bornovo nasleđe', 'RS', None, None, None, 0.0),
 ('tt1194173',
  11,
  "Dziedzictwo Bourne'a",
  'PL',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 12, 'O Legado Bourne', 'BR', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 13, 'Наследството на Борн', 'BG', 'bg', None, None, 0.0),
 ('tt1194173',
  14,
  "Jason Bourne: L'héritage",
  'FR',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 15, "Bourne'un Mirasi", 'TR', 'tr', 'imdbDisplay', None, 0.0),
 ('tt1194173', 16, 'Bornas. Palikimas', 'LT', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 17, 'Η κληρονομιά του Μπορν', 'GR', None, None, None, 0.0),
 ('tt1194173', 18, 'Borna mantojums', 'LV', None, 'imdbDisplay', None, 0.0),
 ('tt1194173',
  19,
  'I klironomia tou Bourne',
  'GR',
  None,
  None,
  'transliterated ISO-LATIN-1 title',
  0.0),
 ('tt1194173', 1, 'Эволюция Борна', 'RU', None, None, None, 0.0),
 ('tt1194173', 20, 'O Legado de Bourne', 'PT', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 21, 'El Legado Bourne', 'CO', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 22, 'Bourneuv odkaz', 'CZ', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 23, 'A Bourne-hagyaték', 'HU', None, 'imdbDisplay', None, 0.0),
 ('tt1194173',
  24,
  'El legado de Bourne',
  'ES',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 25, 'Bourneovo nasljeđe', 'HR', None, None, None, 0.0),
 ('tt1194173', 26, 'Zehut gnuva', 'IL', 'he', 'imdbDisplay', None, 0.0),
 ('tt1194173',
  27,
  'Das Bourne Vermächtnis',
  'DE',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 28, 'Спадок Борна', 'UA', None, None, None, 0.0),
 ('tt1194173', 29, 'El legado Bourne', 'PE', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 2, 'Marcher', 'US', None, None, 'fake working title', 0.0),
 ('tt1194173',
  30,
  "La peur dans la peau: L'héritage de Bourne",
  'CA',
  'fr',
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 31, 'El legado Bourne', 'UY', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 32, 'The Bourne Legacy', None, None, 'original', None, 1.0),
 ('tt1194173', 3, 'El Legado Bourne', 'MX', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 4, 'El legado Bourne', 'CL', None, 'imdbDisplay', None, 0.0),
 ('tt1194173',
  5,
  'Mostenirea lui Bourne',
  'RO',
  None,
  'imdbDisplay',
  None,
  0.0),
 ('tt1194173', 6, 'El legado Bourne', 'AR', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 7, "Bourne'i pärand", 'EE', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 8, 'Medusan perintö', 'FI', None, 'imdbDisplay', None, 0.0),
 ('tt1194173', 9, 'The Bourne Legacy', 'US', None, None, None, 0.0),
 ('tt1210047',
  1,
  'Snatched! Curse of the Pink Panties 2',
  'US',
  None,
  'alternative',
  None,
  0.0),
 ('tt1210047', 2, 'Snatched!', None, None, 'original', None, 1.0),
 ('tt1210047',
  3,
  'Curse of the Pink Panties II',
  'US',
  None,
  'working',
  None,
  0.0),
 ('tt1210047', 4, 'Snatched!', 'US', None, None, None, 0.0),
 ('tt1219289', 10, 'Sin Límites', 'AR', None, 'imdbDisplay', None, 0.0),
 ('tt1219289', 11, 'Bezgranicno', 'BA', 'hr', 'imdbDisplay', None, 0.0),
 ('tt1219289', 12, 'Csúcshatás', 'HU', None, 'imdbDisplay', None, 0.0),
 ('tt1219289', 13, 'Kõrvalnähud', 'EE', None, 'imdbDisplay', None, 0.0),
 ('tt1219289', 14, 'The Dark Fields', 'US', None, 'working', None, 0.0),
 ('tt1219289', 15, 'Ohne Limit', 'DE', None, 'imdbDisplay', None, 0.0),
 ('tt1219289', 16, 'Sin límites', 'PE', None, 'imdbDisplay', None, 0.0),
 ('tt1219289', 17, 'Všemocný', 'CZ', None, None, None, 0.0),
 ('tt1219289', 18, 'Απόλυτη ευφυΐα', 'GR', None, None, None, 0.0),
 ('tt1219289', 19, 'Limitless', None, None, 'original', None, 1.0),
 ('tt1219289', 1, 'Lelo gvulot', 'IL', 'he', None, None, 0.0),

## Convert SQL tables to Pandas Dataframes

In [5]:
# I'm choosing to convert all my tables to Dataframes because I feel it will be easier to work with
tmdb_movies_df = pd.read_sql('''SELECT *
                                FROM tmdb_movies''', conn)
tmdb_movies_df.head()

,index,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [6]:
budgets_df = pd.read_sql('''SELECT *
                                FROM tn_movie_budgets''', conn)
budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [7]:
# Irrelevant
name_basics_df = pd.read_sql('''SELECT *
                                FROM imdb_name_basics''', conn)
name_basics_df.head()

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [8]:
# Irrelevant
title_akas_df = pd.read_sql('''SELECT *
                                FROM title_akas''', conn) 
title_akas_df.head()

,title_id,ordering,title,region,language,types,attributes,is_original_title
0,tt0369610,10,Джурасик свят,BG,bg,None,None,0.0
1,tt0369610,11,Jurashikku warudo,JP,None,imdbDisplay,None,0.0
2,tt0369610,12,Jurassic World: O Mundo dos Dinossauros,BR,None,imdbDisplay,None,0.0
3,tt0369610,13,O Mundo dos Dinossauros,BR,None,None,short title,0.0
4,tt0369610,14,Jurassic World,FR,None,imdbDisplay,None,0.0

In [9]:
movie_gross_df = pd.read_sql('''SELECT *
                                FROM bom_movie_gross''', conn)
movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [10]:
title_basics_df = pd.read_sql('''SELECT *
                                FROM imdb_title_basics''', conn)
title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [11]:
# Irrelevant 
title_ratings_df = pd.read_sql('''SELECT *
                                FROM title_ratings''', conn)
print(title_ratings_df.head())
title_ratings_df.info()

       tconst  averagerating  numvotes
0  tt10356526            8.3        31
1  tt10384606            8.9       559
2   tt1042974            6.4        20
3   tt1043726            4.2     50352
4   tt1060240            6.5        21
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
tconst           73856 non-null object
averagerating    73856 non-null float64
numvotes         73856 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

In [12]:
rt_reviews_df = pd.read_sql('''SELECT *
                                FROM rt_reviews''', conn)
rt_reviews_df.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,None,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,None,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,None,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,None,fresh,None,0,Cinema Scope,"October 12, 2017"

In [13]:
rt_movie_info_df = pd.read_sql('''SELECT *
                                FROM rt_movie_info''', conn)
rt_movie_info_df.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",None,None,104 minutes,None
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",None,None,116 minutes,None
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",None,None,128 minutes,None
4,7,None,NR,Drama|Romance,Rodney Bennett,Giles Cooper,None,None,None,None,200 minutes,None

## Data Cleaning 
In the next couple of lines I will be:
- Checking each DataFrame for null values
- Deciding what the next course of action for the null values will be ie. deleting/filling in null values
- Reformating dtypes if needed

### Cleaning - tmdb_movies

In [14]:
# View Dataframe
tmdb_movies_df.head()

,index,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [15]:
# Set 'Index' as the datasets index
tmdb_movies_df.set_index('index', inplace=True)
tmdb_movies_df.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
index,,,,,,,,,
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [16]:
# Check df shape to see how many rows and columns we have
print(tmdb_movies_df.shape)

# View info for each column
tmdb_movies_df.info()

(26517, 9)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            26517 non-null object
id                   26517 non-null int64
original_language    26517 non-null object
original_title       26517 non-null object
popularity           26517 non-null float64
release_date         26517 non-null object
title                26517 non-null object
vote_average         26517 non-null float64
vote_count           26517 non-null int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

In [17]:
# Check for null values if any
print(tmdb_movies_df.isnull().sum())

genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [18]:
# It appears we don't have any null value -not any we can see right now at least-
# We'll explore the dataset more by checking out the Unique values
print('Number of Unique values:\n', tmdb_movies_df.nunique())

Number of Unique values:
 genre_ids             2477
id                   25497
original_language       76
original_title       24835
popularity            7425
release_date          3433
title                24688
vote_average            91
vote_count            1693
dtype: int64

In [19]:
# Going off the original_title and title columns its safe to assume there are some duplicate
tmdb_movies_df[tmdb_movies_df.duplicated(keep=False)].sort_values(by='title')

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
index,,,,,,,,,
9191,[99],95383,en,$ellebrity,1.420,2013-01-11,$ellebrity,5.6,12
6315,[99],95383,en,$ellebrity,1.420,2013-01-11,$ellebrity,5.6,12
20070,"[99, 36, 10770]",430364,en,'85: The Greatest Team in Pro Football History,0.600,2018-01-29,'85: The Greatest Team in Pro Football History,7.5,2
26340,"[99, 36, 10770]",430364,en,'85: The Greatest Team in Pro Football History,0.600,2018-01-29,'85: The Greatest Team in Pro Football History,7.5,2
18016,"[18, 10749]",416691,en,1 Night,5.409,2017-02-10,1 Night,6.4,107
...,...,...,...,...,...,...,...,...,...
21273,[18],326382,es,Zama,5.671,2017-09-30,Zama,6.9,50
15061,"[10751, 16]",94196,fr,Zarafa,2.705,2012-11-11,Zarafa,6.8,39
5888,"[10751, 16]",94196,fr,Zarafa,2.705,2012-11-11,Zarafa,6.8,39
25188,"[10752, 10751, 36]",472553,en,Zoo,2.550,2018-06-08,Zoo,6.6,17
21676,"[10752, 10751, 36]",472553,en,Zoo,2.550,2018-06-08,Zoo,6.6,17

In [20]:
# We'll delete the duplicates as part of our data cleaning process
tmdb_movies_df.drop_duplicates(subset=['title'], inplace=True)

In [21]:
# Check to make sure changes were made to the dataset
tmdb_movies_df[tmdb_movies_df.duplicated(keep=False)].sort_values(by='title')

Empty DataFrame
Columns: [genre_ids, id, original_language, original_title, popularity, release_date, title, vote_average, vote_count]
Index: []

In [22]:
# Going back to the columns datatype we can see that release_date is stored as an object
print(tmdb_movies_df.dtypes)

# That can be fixed by changing it to a datetime dtype
# We can clearly see the before and after below
tmdb_movies_df['release_date'] = pd.to_datetime(tmdb_movies_df['release_date'])
tmdb_movies_df.info()

genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 24688 entries, 0 to 26516
Data columns (total 9 columns):
genre_ids            24688 non-null object
id                   24688 non-null int64
original_language    24688 non-null object
original_title       24688 non-null object
popularity           24688 non-null float64
release_date         24688 non-null datetime64[ns]
title                24688 non-null object
vote_average         24688 non-null float64
vote_count           24688 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 1.9+ MB

### Cleaning - budgets_df

In [23]:
# View dataset
budgets_df.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [24]:
# Check for null values\
budgets_df.isnull().sum()

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64

In [25]:
# Get blueprints of dataset
budgets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.2+ KB

In [26]:
# Set 'id' as index
budgets_df.set_index('id', inplace=True)

In [27]:
# Check for duplicates
budgets_df[budgets_df.duplicated(keep=False)].sort_values(by='movie')

Empty DataFrame
Columns: [release_date, movie, production_budget, domestic_gross, worldwide_gross]
Index: []

In [28]:
# Looking at the datatypes the last 3 columns are stored as an object datatype 
# We'll be converting the last 3 columns to Integer datatypes
budgets_df['production_budget'] = budgets_df['production_budget'].str.replace('$','').str.replace(',','').astype('int')

In [29]:
budgets_df['domestic_gross'] = budgets_df['domestic_gross'].str.replace('$','').str.replace(',','').astype('int')

In [30]:
budgets_df['worldwide_gross'] = budgets_df['worldwide_gross'].str.replace('$','').str.replace(',','').astype('int')

In [31]:
budgets_df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875
3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350
4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747

In [32]:
budgets_df.dtypes

release_date         object
movie                object
production_budget     int64
domestic_gross        int64
worldwide_gross       int64
dtype: object

### Cleaning - movie_gross_df

In [33]:
# View data
movie_gross_df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [34]:
# Check dtype
movie_gross_df.dtypes

title              object
studio             object
domestic_gross    float64
foreign_gross      object
year                int64
dtype: object

In [35]:
# Check for null values
movie_gross_df.isna().sum()

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [36]:

movie_gross_df.foreign_gross.dropna()

0       652000000
1       691300000
2       664300000
3       535700000
4       513900000
          ...
3275      1500000
3286       229000
3309       256000
3342         5200
3353        30000
Name: foreign_gross, Length: 2037, dtype: object

In [37]:
movie_gross_df = movie_gross_df.dropna()

In [38]:
movie_gross_df.isna().sum()

title             0
studio            0
domestic_gross    0
foreign_gross     0
year              0
dtype: int64